/* Codigo CSS */
html, *{
    margin: auto;
    padding: auto;
    overflow: hidden;
    /* border: 1px solid red; */
}


/* Pagina Home */
body{
    font-family: 'inter', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

/* CABECALHO */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 110px;
    width: 100%;
    background-color: #071E26;
}

#titulo-cabecalho{
    font-size: 36px;
    text-decoration: none;
    color: #fff;
    font-family: 'inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.menu, button{
    overflow: visible;
}

.item-menu{
    color: #fff;
    font-family: "inter", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    margin-right: 25px;
}

.item-menu:hover{
    transition: 0.5s;
    color: #c5c0c0;
}

#btn-cadastro{
        color: #071E26;
        font-family: "inter", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 19px;
        padding-right: 19px;
        
        background: #fff;
        border-radius: 25px;
        margin-right: 25px;
}

#btn-cadastro:hover{
    transition: 0.5s;
    background-color: #d3cdcd;
}

/* MAIN */

main{
    height: 1100px;
    width: 100%;
    margin: auto;
    padding: auto;
}

.menu-posts{
    overflow-y: scroll;
    overflow-x: hidden;

    margin-top: 105px;
    margin-bottom: auto;

    width: 500px;
    height: 650px;
}

.post{
    background-color: #0088B1;
    border-radius: 20px;

    padding-left: 41px;
    padding-right: 41px;
    padding-bottom: auto;
    padding-top: 16px;
}

.post, h1{
    margin-top: 15px;
    margin-bottom: 10px;
}

.post, p{
    margin-bottom: 87px;
}

img{
    background-color: aliceblue;
    border-radius: 200px;
    height: 40px;
    width: 40px;
}


aside{
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

    background: #005D9F;
    float: left;
    height: 450px;
    width: 260px;
    border-radius: 20px;
    
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 15px;
}

#tags-titulo{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top: 16px;
    margin-left: 29px;
}

.tags-menu{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    list-style: none;
}



/* RODAPE */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    background-color: #071E26;
    font-family: 'Inter', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

    bottom: 0;
    width: 100%;
    height: 150px;
    padding: auto;
}

#ano-rodape{
    font-size: 25px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#texto-rodape{
    margin: auto;
    height: auto;
}
